* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 900px;
    font-family: "Helvetica", fantasy;
}

.top{
    height: 50px;
    padding-left: 30px;
}

.logo{
    line-height: 50px;
    float: left;
}

.logo img{
    vertical-align: middle;
}

.top ul{
    float: right;
    font-style: initial;
}

.top li{
    list-style-type: none;
    float: left;
    margin-right: 30px;
    align-items: center;
    display: inline-block;
    line-height: 50px;

}

.top a{
    text-decoration: none;
    color: black;
    font-style: inherit;
    font-size: 13px;
}

.hero_header{
    height: 500px;
    width: 100%;
}

body h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 24px;
    font-style: inherit;
    color: #545454;
}

.products {
    margin: auto;
    padding: 0;
    width: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.products img{
    width: 250px;
    height: 250px;
    margin-left: 35px;
    margin-right: 35px;

}

.products a{
    text-decoration: none;
    color: black;
    float: left;
    font-size: 16px;
}

.price{
    margin-top: 4px;
    margin-bottom: 80px;
}

.clearfix{
    clear: both;
}

.footer{
    text-align: center;
}

.footer img{
    height: 20px;
    margin: 40px 10px 80px;
}